/*
.tabs {
    font-size: 0;
}

.tabs>input[type="radio"] {
    display: none;
}

.tabs>div {
    !* скрыть контент по умолчанию *!
    display: none;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    font-size: 16px;
}

!* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") *!
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2 {
    display: block;
}

.tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.tabs>label:not(:first-of-type) {
    border-left: none;
}

.tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
}*/

.main-tabs{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.top-tabs{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
}

.tab-input{
    display: none;
}

.tab-label{
    display: flex;
    --width: 50%;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: large;
    border: 0.33px outset;
    margin: 0px 2px 0px 2px;
    min-height: 50px;
    min-width: 100px;
}

.tab-label-select{
    background-color: #bdd5e5;
}

.tab-label:hover{
    background-color: #acbfcc;
}

.work-place-tabs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}